body {
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}

h1 {
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

.btn-custom {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-home {
  background-color: #0d6efd;
}

.btn-home:hover {
  background-color: #ee0c0cff;
}

.btn-contact {
  background-color: #198754;
}

.btn-contact:hover {
  background-color: #ee0c0cff;
}

.btn-links {
  background-color: #05219eff;
}

.btn-links:hover {
  background-color: #ee0c0cff;
}

@media (max-width: 600px) {
  .btn-custom {
    width: 100%;
    text-align: center;
  }
}
